---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>


<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation -->
  
<!-- Content + Menu -->
<div class="grid-x grid-padding-x" style="margin-top: 5rem;">
  
  <div class="shrink cell" style="padding-right: 8rem;">
    {% for entry in site.data.navigation %}{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}
    <ul class="menu vertical">
      {% for entry in site.data.navigation %}
      {% if entry.url == current_page %}
      {% assign current = ' class="active"' %}
      {% else %}
      {% assign current = null %}
      {% endif %}
      {% assign sublinks = entry.sublinks %}
      {% if sublinks %}
      <li{{ current }}>
      <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
      <ul class="menu vertical">
      {% for sublink in sublinks %}
      <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
      {% endfor %}
      </ul>
      </li>
      {% else %}
      <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}" class="{{ entry.color }}">{{ entry.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  
  <div class="auto cell">
    {{content}}
  </div>

</div>
<!-- End Content + Menu -->

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->
</body>

</html>