---
layout: photographs
---


<div class="orbit" role="region" data-orbit data-use-m-u-i="false" data-next-class="orbit-slide" data-auto-play="false">
  <div class="orbit-wrapper">
    
    <ul class="orbit-container" style="height: 600px">
      {% for image in page.images %}
      <li class="orbit-slide" style="height: 600px">
      
        <img data-src="{{ image | imgix_url: h: 300, auto: "format", auto: "compress", lossless: "true", q: 80, fit: "clip", dpr: 2}}" class="lazyload">
        
      </li>
      {% endfor %}
    </ul>
    
  </div>
</div>

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 cell">
    <div>Publication — {{page.publication}}</div>
    <div>Stylist — {{page.stylist}}</div>
  </div>
</div>