---
layout: default
---

{% assign publications = site.publishing | sort: 'position' %}
{% for publication in publications %}
<div class="grid-x grid-padding-x margin-bottom-2">
 <div class="shrink cell">
   <div><img src="{{ publication.image | imgix_url: w: 230, auto: "format", auto: "compress", lossless: "true", q: 90, fit: "clip", dpr: 1}}"></div>
   <div class="padding-top-1">{{ publication.title }} <a href="{{ publication.buy-link }}{{ entry.url }}">BUY</a></div>
 </div>
</div>
{% endfor %}